.fs {
    text-align: center;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    color: #747474;
    opacity: 0.4;
    font: 700 800px 'Bitter';
    font-size: 6vw;
}