<h1 [ngClass]="'fs'">Movie Category Site</h1>

<mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color"
        [style.border]="'1px solid #ddd'">
        <img src="assets/{{tile.pic}}.jpg">
        <mat-grid-tile-footer>
          <h3>{{tile.desc}}</h3>
        </mat-grid-tile-footer>

    </mat-grid-tile>
    
  </mat-grid-list>