<mat-tab-group dynamicHeight [ngClass]="'ls'">
    <mat-tab label="Average Length">
      <h2 align="center">Average length of movies by categories</h2>
        <div>
            <div>
              <div class="chart">
                <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [colors]="pieChartColors"
                  [legend]="pieChartLegend">
                </canvas>
              </div>
            </div>
          </div>

    </mat-tab>
    <mat-tab label="Average Rating">
        <div>
            <div>
              <div style="display: block">
                <canvas baseChart
                  [data]="polarAreaChartData"
                  [labels]="pieChartLabels"
                  [legend]="polarAreaLegend"
                  [options]="polarChartOptions"
                  [chartType]="polarAreaChartType">
                </canvas>
              </div>
            </div>
          </div>
    </mat-tab>

    <mat-tab label="Length">
        <div>
            <h2 align="center">Longest Movies</h2>
            <div>
              <div>
                <div style="display: block">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div>
              <h2 align="center">Shortest Movies</h2>
              <div>
                <div>
                  <div style="display: block">
                    <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions"
                      [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors2" (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
              </div>
            </div>
    </mat-tab>

    <mat-tab label="Rating">
      <div>
          <h2 align="center">Best Ratings</h2>
          <div>
            <div>
              <div style="display: block">
                <canvas baseChart [datasets]="barChartDataR1" [labels]="barChartLabels4" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div>
            <h2 align="center">Worst Ratings</h2>
            <div>
              <div>
                <div style="display: block">
                  <canvas baseChart [datasets]="barChartDataR2" [labels]="barChartLabels5" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors2" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>
            </div>
          </div>
  </mat-tab>

</mat-tab-group>