.ls {
    color: white;
}

/* Styles for tab labels */
.mat-tab-label {
    padding: 5px;
    background-color: transparent;
    color: rgb(222, 213, 255);
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    padding: 5px;
    background-color: transparent;
    color: white;
    font-weight: 800;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}