/*.container {
  display: flex;
  flex-direction: column;
}*/

/*.container > * {
  width: 100%;
}*/

[class*="container-"] {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.lbg {
  background-image: url("movies-tiles.jpg");
  background-size: 100% 100%;
}