<!--<form  (ngSubmit)="login()">
  <div class="container">

    <mat-form-field>
      <input matInput placeholder="Enter your username" name="username" name="username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="primary">Login</button>

  </div>
</form>-->

<section class="signup-form">
  <form #f="ngForm" (ngSubmit)="login(f)" fxLayoutAlign="center">
    <div [ngClass]="'container-1 lbg'">
    <mat-form-field>
      <input type="text" matInput placeholder="Enter your username" required ngModel name="username" #username="ngModel">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required ngModel name="password" #password="ngModel">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Login</button>
      </div>
  </form>
</section>