.large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    height: 300px;
    width: 300px;
    background-color: rgb(206, 231, 240);
    color: black;
  }

  ul {
    list-style-type: none;
  }

  