<mat-tab-group dynamicHeight [ngClass]="'ls'">
    <mat-tab label="Action">
      <div *ngFor="let film of jsonData">
        <div *ngIf="film.category == 'Action'">
              <mat-card class="large-box mat-elevation-z4" fxFlex >
                  <mat-card-header>
                    <mat-card-title>{{ film.title }}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                  <ul>
                    <li>
                      <h4>Main Character(s)</h4>
                      {{ film.actors }}
                    </li> 
                    <li>
                      <h4>Director</h4>
                      <p>{{ film.director }}</p>
                    </li>
                
                    <li>
                      <p><b>Rating: </b> {{ film.rating }} <b>Length: </b> {{ film.mins }} mins.</p>
                    </li>
                
                  </ul>
                </mat-card-content>
              </mat-card>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Comedy">
        <div *ngFor="let film of jsonData">
          <div *ngIf="film.category == 'Comedy'">
              <mat-card class="large-box mat-elevation-z4" fxFlex="column" fxFlexLayoutGap="32px">
                  <mat-card-header>
                    <mat-card-title>{{ film.title }}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                  <ul>
                    <li>
                      <h4>Main Character(s)</h4>
                      {{ film.actors }}
                    </li> 
                    <li>
                      <h4>Director</h4>
                      <p>{{ film.director }}</p>
                    </li>
                
                    <li>
                      <p><b>Rating: </b> {{ film.rating }} <b>Length: </b> {{ film.mins }} mins.</p>
                    </li>
                
                  </ul>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Thriller">
      <div *ngFor="let film of jsonData">
        <div *ngIf="film.category == 'Thriller'">
            <mat-card class="large-box mat-elevation-z4" fxFlex="column" fxFlexLayoutGap="32px">
                <mat-card-header>
                  <mat-card-title>{{ film.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <ul>
                  <li>
                    <h4>Main Character(s)</h4>
                    {{ film.actors }}
                  </li> 
                  <li>
                    <h4>Director</h4>
                    <p>{{ film.director }}</p>
                  </li>
              
                  <li>
                    <p><b>Rating: </b> {{ film.rating }} <b>Length: </b> {{ film.mins }} mins.</p>
                  </li>
              
                </ul>
              </mat-card-content>
            </mat-card>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Horror">
        <div *ngFor="let film of jsonData">
          <div *ngIf="film.category == 'Horror'">
              <mat-card class="large-box mat-elevation-z4" fxFlex="column" fxFlexLayoutGap="32px">
                  <mat-card-header>
                    <mat-card-title>{{ film.title }}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                  <ul>
                    <li>
                      <h4>Main Character(s)</h4>
                      {{ film.actors }}
                    </li> 
                    <li>
                      <h4>Director</h4>
                      <p>{{ film.director }}</p>
                    </li>
                
                    <li>
                      <p><b>Rating: </b> {{ film.rating }} <b>Length: </b> {{ film.mins }} mins.</p>
                    </li>
                
                  </ul>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Drama">
          <div *ngFor="let film of jsonData">
            <div *ngIf="film.category == 'Drama'">
                <mat-card class="large-box mat-elevation-z4" fxFlex="column" fxFlexLayoutGap="32px">
                    <mat-card-header>
                      <mat-card-title>{{ film.title }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                    <ul>
                      <li>
                        <h4>Main Character(s)</h4>
                        {{ film.actors }}
                      </li> 
                      <li>
                        <h4>Director</h4>
                        <p>{{ film.director }}</p>
                      </li>
                  
                      <li>
                        <p><b>Rating: </b> {{ film.rating }} <b>Length: </b> {{ film.mins }} mins.</p>
                      </li>
                  
                    </ul>
                  </mat-card-content>
                </mat-card>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Romantic">
            <div *ngFor="let film of jsonData">
              <div *ngIf="film.category == 'Romantic'">
                  <mat-card class="large-box mat-elevation-z4" fxFlex="column" fxFlexLayoutGap="32px">
                      <mat-card-header>
                        <mat-card-title>{{ film.title }}</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                      <ul>
                        <li>
                          <h4>Main Character(s)</h4>
                          {{ film.actors }}
                        </li> 
                        <li>
                          <h4>Director</h4>
                          <p>{{ film.director }}</p>
                        </li>
                    
                        <li>
                          <p><b>Rating: </b> {{ film.rating }} <b>Length: </b> {{ film.mins }} mins.</p>
                        </li>
                    
                      </ul>
                    </mat-card-content>
                  </mat-card>
              </div>
            </div>
          </mat-tab>

</mat-tab-group>

